<footer>
    <p class="text-lg py-10 w-full flex justify-center gap-2">
        Website made by
        <a class="hover:border-b-2 text-blue-800" href="https://github.com/dedo637" target="_blank"> @dedo637</a>
    </p>
</footer>