
<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Dedo637</title>
	</head>
	<body class="margin-0 height-100vh width-100vh">
		<slot />
	</body>
</html>

<style>
	html,
	body {
		color: white;
		background-color: #05121a;
		background-image: url('/topography.svg');
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>